[2015-12-25 08:35] mrkn opened #1 "Revive the past commit logs"
Following [amatsuda/bigdecimal](https://github.com/amatsuda/bigdecimal), I should revive the past commit logs.

## TODO

- [x] Import amatsuda/bigdecimal into a branch
- [x] Edit history

[2015-12-25 14:25] mrkn commented on #1
Done.  Thanks @amatsuda :+1:

[2015-12-25 14:25] #1 closed

[2015-12-25 20:03] amatsuda commented on #1
:santa:

[2016-09-19 17:39] arthurchui opened #6 "Precision with multiplications and divisions"
I would expect BigDecimal to support arbitrary-precision calculation in a way that it does not lose accuracy after a series of multiplications and divisions.

[code]

^ Should I expect to get back `3000` or is it a bug?

[code]

^ If it performs multiplication first, it does not involve floating-point calculation and the result is correct as expected.

[2016-11-04 05:15] mrkn commented on #6
@arthurchui `3000 / 3600`, namely `5 / 6`, is repeating decimal (0.833....) in the decimal system.
That couldn't be represent exactly in BigDecimal.
Use Rational instead:

[code]

[2016-11-04 05:16] #6 closed

[2016-11-21 16:37] mrkn opened #16 "Write good README"

[2016-11-22 07:52] yui-knk commented on #16
I feel it is better to brush up documents of public methods too...

[2016-11-22 07:55] mrkn opened #19 "Brushing up documentation of public methods"

[2016-11-22 07:56] mrkn commented on #16
@yui-knk You're right.  I've made the issue for that (#19).

[2016-11-29 07:39] yui-knk opened #31 "Unexpected behaviour if `BigDecimal.new("NaN")` is used as a key of hash"
[code]

[code]

I expected `h[nan]` to return `nil`, because `nan.eql? nan` returns `false`.
This is because hash compare pointers first.
https://github.com/ruby/ruby/blob/v2_4_0_preview3/hash.c#L99-L102

[2016-12-10 06:30] mrkn opened #43 "Releasing version 1.3.0"
I will release the version 1.3 and import it into ruby-trunk before releasing ruby 2.4.

[2016-12-14 00:56] koic opened #47 "Is a format `"1.e+00"` invalid in Ruby 2.4.0 or later?"
I hava a question.

The string representation accepted as a BigDecimal has become strict with the following commit.

https://github.com/ruby/bigdecimal/commit/3081a627cebdc1fc119425c7a9f009dbb6bec8e8

[code]

For example, the `sprintf` document shows a format like `"1.e+00"`.

https://github.com/ruby/ruby/blob/v2_4_0_rc1/sprintf.c#L354

Is this format (`"1.e+00"`) not recommended as a BigDecimal l

[2016-12-15 01:54] mrkn commented on #47
Thank you for reporting.  This is a bug.  I'll fix asap.

[2016-12-15 02:00] mrkn commented on #47
I'm sorry.  I've misread `1.e+00` as `1e+00`.
The former is invalid string because `Float()` don't accept it.

[code]

So this is not a bug, but a new specification.

[2016-12-15 03:06] koic commented on #47
Thank you for your reply.

I understood it as a new specification. Thanks.

[2016-12-15 03:06] #47 closed

[2016-12-21 11:05] mrkn commented on #31
NaN is difficult even if it is a Float.

[code]

[2016-12-21 11:07] mrkn commented on #31
IMO at least we need to discuss how to define the equivalence of NaN including Float rather than only BigDecimal in bugs.ruby-lang.org.

[2016-12-22 19:35] jhawthorn opened #51 "BigDecimal regression - to_d inconsistent with other numeric classes"
I originally filed this on [bugs.ruby-lang.org](https://bugs.ruby-lang.org/issues/13062), not sure if this is a more appropriate place.

As of ruby 2.4.0-rc1, `BigDecimal()` was changed to raise exceptions on invalid input, which is more consistent with the other numeric types. Unfortunately, `String#to_d` now also raises errors, which is inconsistent with the other `to_*` methods (`to_i`, `to_f`)

[2017-01-10 11:46] yui-knk opened #52 "Can we drop ruby 1_9_3 from CI matrix?"
Tests for Ruby 1.9.3 have been failed.
There are some reasons why tests on 1.9.3 do not work.

* Invalid syntaxes about keyword args (e.g. `**opt` or `method(a: :b)`)
* A missed macoro (`NUM2USHORT `)

I tried to run tests on 1.9.3 (https://github.com/yui-knk/bigdecimal/commits/1_9_3), but I feel it is too complex. So I propose to drop 1.9.3 from CI 😢

[2017-01-16 03:12] mrkn commented on #52
It's good idea.

[2017-01-16 03:38] mrkn commented on #51
The patch posted by Piotr Szmielew in Redmine is good to fix this.
I'll apply this patch later.
Thanks for reporting the bug.

By the way,

Both places are appropriate.
But I prefer to use GitHub issue because it is more useful than Redline.

[2017-01-16 12:33] esse commented on #51
@mrkn Should I make pull request with that? Or is patch file provided through redmine enough?

[2017-01-16 12:35] mrkn commented on #51
@esse Would you please submit your pull request?
I want to import your contribution as your commit.

[2017-01-18 12:11] esse commented on #51
@mrkn pull request added: https://github.com/ruby/bigdecimal/issues/55

[2017-01-18 12:12] mrkn commented on #51
@esse Thank you.  I'll check it at this weekend.

[2017-01-20 07:55] #52 closed

[2017-01-20 07:56] #51 closed

[2017-01-20 07:56] #43 closed

[2017-01-31 00:30] yui-knk commented on #31
https://bugs.ruby-lang.org/issues/13146  discusses about Float NaN.

[2017-02-12 13:52] stomar opened #63 "Inconsistency between String#to_d and String#to_f"
String#to_d behaves differently from String#to_f for strings starting with a number that is not followed by whitespace:

[code]

For many other cases they behave in the same way, e.g.:

[code]

[2017-03-23 00:55] abezzub commented on #51
I still see this in ruby 2.4.1. Did it not make the cut?

[2017-03-27 02:58] mrkn commented on #51
@abezzub Could you please try `gem update bigdecimal`?

[2017-03-27 06:14] abezzub commented on #51
I did, thanks. I see that issue is fixed in version 1.3.2. If I understand correctly, bigdecimal is shipped with Ruby, so it would be nice if a version with the fix were included in latest Ruby release.

[2017-03-27 08:44] mrkn commented on #51
@abezzub I believe the latest bigdecimal will be included in the next update of Ruby.
BTW, now bigdecimal is a default gem, so the version of bigdecimal is maintained independently.
You can update default gems independently of Ruby version.

[2017-03-29 14:14] mrkn opened #70 "[Bug-13331] Inconsistent conversion of Float into Decimal"
https://bugs.ruby-lang.org/issues/13331

One would reasonably expect the equality `1.to_d * f == f.t_d` to hold for every Float value `f`, i.e. multiplying by DigDecimal's unit can be viewed as an alternative way of casting Float into Decimal; or simply one could expect that `BigDecimal#*` should always invoke `Float#to_d` on it's argument. Yet for some Floats (e.g. 64.4) the results differ, as sh

[2017-04-26 21:20] feist commented on #63
Also another (potentially serious) issue.  If you pass "1.", to_f & to_i accept it, but to_d throws an exception.

2.4.1 :001 > require 'bigdecimal'
2.4.1 :002 > require 'bigdecimal/util'
2.4.1 :003 > "1.".to_i
 => 1
2.4.1 :004 > "1.".to_f
 => 1.0
2.4.1 :005 > "1.".to_d
ArgumentError: invalid value for BigDecimal(): "1."

[2017-05-01 22:58] feist commented on #63
I'm seeing something even more worrying with bigdecimal-1.3.2

2.4.1 :001 > require 'bigdecimal'
 => true
2.4.1 :002 > require 'bigdecimal/util'
 => true
2.4.1 :006 > "1.".to_i
 => 1
2.4.1 :007 > "1.".to_f
 => 1.0
2.4.1 :008 > "1.".to_d
 => 0.0

[2017-06-26 19:12] nzifnab commented on #63
I'm also seeing this issue. Looks like it's somewhat related to this fix: https://github.com/ruby/bigdecimal/pull/55

In ruby 2.3.3:

    => #<BigDecimal:55adc4a76918,'0.3E2',9(18)>

In ruby 2.4.1 (and updating bigdecimal to 1.3.2):

    => 0.0

[2017-06-27 12:06] theduke opened #74 "Serde feature"
An optional serde integration would be nice to have, to avoid having to wrap BigDecimal in a newtype just for implementing (De)serialize.

I'd excpect it to serialize to a string and deserialize from strings and floats.

[2017-06-27 12:06] theduke commented on #74
Whoops, wrong bigdecimal. My bad.

[2017-06-27 12:06] #74 closed

[2017-08-13 03:14] MSP-Greg opened #77 "BigDecimal.ver"
Okay, maybe a bit picky, but I was just working with an app with embedded ruby, and I've got several installs testing various ruby configs.  Best yet, (at present) they share a gem folder...

Should [BigDecimal.ver](https://github.com/ruby/bigdecimal/blob/master/ext/bigdecimal/bigdecimal.c#L138-L150) return the same version as the gem?

I know it's just one more thing to keep track of...

[2017-10-04 21:11] carl-stripe opened #78 "Incorrect documentation for BigDecimal#sign"
The documentation for `BigDecimal#sign` is incorrect. It reads:

https://github.com/ruby/bigdecimal/blob/f3e6bfde51375fb873f5ecda897338504743ff13/ext/bigdecimal/bigdecimal.c#L2735-L2736

However, this does not match `BigDecimal`'s behavior:
[code]

These values match the `BigDecimal::SIGN_XXX` constants for signed zeroes, which have the values `1` and `-1` (neither of which is zero as `#sign` seem

[2017-11-09 18:44] elfassy commented on #63
also
[code]

[2017-11-14 14:13] elfassy opened #79 "Strings with commas errors"
Can someone explain the logic behind:
[code]
Shouldn't these raise?

[2017-11-22 09:46] nmingotti opened #80 "Incorrect Result in 32 Bit Platforms"
Hi, write you here a snipped illustrating a wrong result I am getting. Specs of the two platform used to see the bug are below.

`========================`
`require 'bigdecimal'`
`BigDecimal.limit(1000)`

`# ok => 2.718...`
`n = 1_000_000_000;`
`((BigDecimal.new(n) + BigDecimal.new(1)) / BigDecimal.new(n))**BigDecimal.new(n)`

`# gives infinity, not good, it should converge to value E or rise`
`#

[2017-11-27 01:02] mrkn commented on #80
Thank you for your report.  I'll check and fix it asap.

[2017-11-30 00:45] mrkn opened #81 "BigMath.tan"
Original issue is https://bugs.ruby-lang.org/issues/3269.

[2017-11-30 00:49] mrkn opened #82 "BigMath.exp is slow for large argument."
The original issue is https://bugs.ruby-lang.org/issues/3270

It can be optimized for the large argument by the following formula.

[code]

[2017-12-13 02:32] mrkn commented on #80
@nmingotti
This is a limitation of the current implementation of bigdecimal.
The reason why the result of the latter case is Infinity is that bigdecimal just returns Infinity for a positive integral exponent whose internal type is `T_BIGNUM`.
In 32-bit platforms, `sizeof(long)` is 4, so `BigDecimal#**` just returns Infinity because `1_000_000_000_0` is internally a bignum.

I want to and have a pl

[2017-12-13 02:34] mrkn opened #83 "Support large integral exponent in BigDecimal#power and BigDecimal#**"
In the current implementation, these methods don't support integral exponent values whose internal types are `T_BIGNUM`.

[2017-12-13 02:35] mrkn commented on #83
Related issue: #80

[2017-12-13 02:40] mrkn opened #84 "[Feature-13984] BigDecimal should be immutable/frozen and return itself on #dup"
https://bugs.ruby-lang.org/issues/13984

Currently, BigDecimal instances are not frozen, and supports #dup by returning a new instance.

In the spirit of [#12979](https://bugs.ruby-lang.org/issues/12979) and [#13983](https://bugs.ruby-lang.org/issues/13983), I think BigDecimal instances should always be frozen.
Then BigDecimal#dup/clone should just return the same instance.

[2017-12-13 14:34] #77 closed

[2017-12-13 14:41] mrkn opened #88 "Remove BigDecimal.ver"
BigDecimal.ver will be deprecated after Ruby 2.5, and should be removed after Ruby 2.6.

[2017-12-13 15:25] mrkn commented on #79
ref. https://bugs.ruby-lang.org/issues/13880

[2017-12-14 02:23] mrkn opened #89 "Removing BigDecimal.new to match core numeric classes like Integer"
BigDecimal is going to be immutable and frozen [#84] to match core numeric classes like Integer.
So BigDecimal.new should be removed for the purpose.

[2017-12-14 08:56] nmingotti commented on #80
@mrkn  ok, thank for checking out !
In the meanwhile, If it is possible and not to tedious to implement, could you rise an exception when the  exponent goes out of the supported range ?
This would be useful, getting Infinity as final result is confusing.

[2017-12-14 13:16] #80 closed

[2017-12-14 13:17] mrkn commented on #80
@nmingotti Setting the exception mode, you can get FloatDomainError in that cases:

[code]

[2017-12-15 15:24] sodabrew commented on #89
Please advise on what replacement code you suggest in the deprecation notice.

[2017-12-19 00:55] sodabrew opened #92 "How to call `BigDecimal(num)` from C?"
Hello, in the mysql2 gem, we convert MySQL datatypes to Ruby datatypes in C space wherever possible for performance reasons. Our code to convert DECIMAL types to Ruby is roughly:

[code]

Because of the new deprecation notice, and the future direction to remove the `BigDecimal#new` method, I'm adjusting this code, but without success, per https://github.com/brianmario/mysql2/issues/925#issuecommen

[2017-12-19 01:30] mrkn commented on #89
@sodabrew see 26d84ba766e971da8eaaf2ce41e7b89935fa68da

[2017-12-19 23:52] sodabrew commented on #92
Well it turns out I was crashing elsewhere while I was working on this same change 😿

Both of these work fine:
[code]

[2017-12-19 23:52] #92 closed

[2017-12-23 23:20] mrkn opened #94 "[Bug-13754] bigdecimal with lower precision that Float"
https://bugs.ruby-lang.org/issues/13754

[2018-03-01 23:36] Tectract opened #95 "BigDecimal should NEVER throw exceptions!!!"
BigDecimal should not throw errors. Ever. You guys need to wrap the code in a begin...rescue with a return 0 for all "error" cases. Anything that's not a valid number is 0 or null or NaN or whatever, but this little math function should NOT be halting my code by throwing errors back upstream.

'invalid value for BigDecimal()'
NO! What the hell!? Whose idea was it for a math function to kick up exc

[2018-03-01 23:38] Tectract commented on #95
Updated bundler and now I have to go inspect every BigDecimal in my codebase for BREAKING changes!!! Not ok.

[2018-03-07 21:15] Tectract commented on #95
disagree. Math functions should not raise exceptions. If Integer raises exceptions, that should be fixed also.

[2018-03-07 21:39] bdewater commented on #95
The ability to raise is very useful when dealing with external input. The old behaviour is coercing to zero from `BigDecimal.new` meant in our app we had no idea if a zero came from actually valid input or not, requiring a workaround (`Float(input)`) before passing it to BigDecimal.

The behaviour you need is still there, just find & replace.

[2018-03-07 23:24] Tectract commented on #95
The ability to raise is also insanely annoying when your code continually breaks because every minor library call didn't like your unformatted input, and caused a halt. It's a bug not a feature.

[2018-03-08 04:10] mrkn commented on #95
@Tectract
BigDecimal just follows the behaviors of core numeric classes such as Integer and Float.

If you want to discuss them, you should go to https://bugs.ruby-lang.org/.

By the way,

How do you fix this?

[code]

[2018-03-08 04:12] mrkn commented on #95
@Tectract

If you don't want to use the latest bigdecimal, you can specify the old version in your Gemfile.

Thanks.

[2018-03-08 04:12] sorah commented on #95
Correct.

What if a result is calculated wrong with an invalid input? How are you going to know that is caused by such input?  Then how you'll deal with the wrong result, when the input was lost at the timing of notice of the error?

[2018-03-08 04:12] #95 closed

[2018-03-08 04:55] Tectract commented on #95
Should be re-opened. BigDecimal should never throw errors.

NaN should be output in such a case.

Referring to an old version because a BUG was introduced in the new version is not a solution.

[2018-03-08 04:56] Tectract opened #96 "BigDecimal should NEVER throw exceptions!!!"
This issue was wrongly closed, so I re-opened it.

BigDecimal should never throw exceptions. Math library function calls should not introduce breaking changes into a codebase.

[2018-03-08 05:00] Tectract commented on #95
1 / 0 #=> ZeroDivisionError (divided by 0)

NaN. Simple.

[2018-03-08 05:02] #96 closed

[2018-03-08 05:05] Tectract commented on #95
I request this issue should be re-opened, until this discussion is finalized:

https://bugs.ruby-lang.org/issues/14587

[2018-03-08 05:06] Tectract opened #97 "BigDecimal should NEVER throw exceptions!!!"
https://bugs.ruby-lang.org/issues/14587

[2018-03-08 05:10] yuki24 commented on #95
We are not going to re-open this. Raising an exception is perfectly reasonable in Ruby. Every language has a different paradigm and not respecting the language's design like above is absurd. See how different Golang is from Ruby. It simply doesn't make sense to attempt to add the exception to Golang or to remove it from Ruby.

[2018-03-08 05:11] #97 closed

[2018-03-08 05:14] Tectract opened #98 "BigDecimal maintainers WANT my code to break"
Let's make everyone's code BREAK! It'll be GREAT!!

https://bugs.ruby-lang.org/issues/14587

[2018-03-08 05:15] #98 closed

[2018-03-08 09:22] mrkn opened #99 "Deprecate BigDecimal#sqrt, and move its body into BigMath.sqrt"
ref. https://bugs.ruby-lang.org/issues/4968

[2018-03-09 04:33] duerst commented on #99
First, the original issue text is very short, so I'm copying it here:
「Math.sqrt との対称性から、BigDecimal#sqrt は BigMath.sqrt として提供すべきでしょう。」
In other words, "BigDecimal#sqrt should be moved to BigMath.sqrt to be symmetric (parallel?) to Math.sqrt".

I don't mind aligning the interfaces, but I think it should be the other way round. With Ruby being such a thoroughly object-oriented language, I have never

[2018-03-12 17:44] joseramonc opened #100 "BigDecimal nil inconsistency with numeric classes"
Hello, I'm trying to migrate my app `Float`s to `BigDecimal`s, but I'm finding it inconsistent with other numeric classes.

[code]

Would you be interested in me sending a PR for this case? I'd be happy to help

[2018-03-15 00:35] mrkn commented on #99
@duerst `sqrt` is a mathematical function.
I think most people, including me, want to write `sqrt(25)` instead of `25.sqrt` because the former notation is more natural in math than the latter.

[2018-03-15 04:37] duerst commented on #99
@mrkn  I don't mind if some people sometimes want to write `sqrt(25)`; I might want to do that occasionally, too.

But this is Ruby, and as a Rubyist, I feel quite okay with `25.sqrt`. Actually, I feel more than just right, I feel that it's very natural.

Even more, if `sqrt` is a method on numeric objects, I can do things like `array.map &:sqrt`. With the functional notation, that doesn't work.

[2018-03-15 08:36] mrkn commented on #99
@duerst Now Ruby's core numeric class don't have `sqrt` as their instance methods.
As a maintainer of BigDecimal, I think I should let BigDecimal follow to core numeric classes.
It is the purpose of this issue.

It means that I will keep `BigDecimal#sqrt` if core numeric classes have `sqrt` instance methods.

But I don't want to write `25.sqrt`, so I won't create the new issue to propose `sqrt` in

[2018-04-08 01:07] mrkn commented on #100
@joseramonc If you can write a pull-request for this issue, please send it.

[2018-04-08 01:08] #99 closed

[2018-04-12 00:38] #100 closed

[2018-07-17 14:47] kakivis commented on #63
I guess the problem it that:
**to_d** tries to operate with **"e"**(also does the same with **"d"**) on the string to multiplies or divide by 10 times the value that succeds the letter, but when encounters another letter, it somehow sets the value to 0.0 while **to_f** ignores the word.

that's why stuff like that happens:

`> "1.23other".to_d
=> 0.123e1

=> 0.0

=> 0.123e1

=> 0.123e1`

I'm havin

[2018-10-22 02:15] mrkn opened #105 "bigdecimal/util must require bigdecimal"
[code]

[2018-11-20 04:49] #105 closed

[2018-11-20 06:15] mrkn commented on #84
This fixes by e089c3be29bc4314c583237ab35cba1528b33d62

[2018-11-20 06:15] #84 closed

[2018-11-20 06:33] #89 closed

[2018-11-20 06:39] #88 closed

[2018-11-22 00:49] #79 closed

[2018-11-22 00:49] #63 closed

[2018-11-22 07:31] mrkn opened #108 "pathname must not be used in extconf.rb"
[code]

[2018-12-03 09:12] mrkn opened #110 "BigDecimal() must support exception: keyword argument"

[2018-12-04 01:49] mrkn opened #111 "Support conversion from Complex values"

[2018-12-04 04:40] #110 closed

[2018-12-05 02:18] mrkn opened #113 "There should be double free in bigdecimal"
The issue reported to CRuby [[Bug #15377](https://bugs.ruby-lang.org/issues/15377)] should be caused by changes in bigdecimal.

[2018-12-05 09:36] #113 closed

[2018-12-14 00:57] mrkn opened #114 "Revert removing BigDecimal.new in version 1.4 for very old version of Rails"
I decided to revert removing `BigDecimal.new` on bigdecimal 1.4 because very old version of Rails depends on it.

After releasing Ruby 2.6, I will release bigdecimal 1.5 without `BigDecimal.new`.

## Reference
- http://koic.hatenablog.com/entry/exclude-rails-4-2-with-ruby-2-6
- https://github.com/rails/webpacker/pull/1825
- https://github.com/cucumber/cucumber-rails/pull/400

[2018-12-14 02:02] #114 closed

[2018-12-21 01:49] ioquatix commented on #114
Good idea. A lot of code depends on this. In theory, it shouldn't be removed until Ruby 3.0 because it's a backwards incompatible change?

[2018-12-21 02:55] mrkn commented on #114
@ioquatix

No, I don't think so because bigdecimal is just a standard library, but not ruby's core.

I have a plan to release version 1.5.0 with removing BigDecimal.new.
I'll import the latest version of bigdecimal in Ruby 2.7.

Users can control what version of bigdecimal is used by calling `gem` method or writing the version contraint in Gemfile.

[2018-12-21 03:19] ioquatix commented on #114
If you are using semantic versioning you should not remove public interface in minor version bump. It should be 2.0.0 release to change or remove existing interface in backwards incompatible way.

[2018-12-21 06:32] ioquatix commented on #114
What kind of versioning does it use?

[2018-12-21 10:22] JonRowe commented on #114
An awful lot of people will use `~>` versioning as semantic versioning is the norm in Ruby. I urge you to reconsider making a breaking change like this in a minor release, after all whats a version number? Releasing a `2.0.0` for a change like this *in a core library* has little in the way of downside and enormous upsides for the community.

[2018-12-21 10:36] ioquatix commented on #114
All I can say, is that I agree that:

- We should be using semantic versioning.
- Removing a public method in a minor version bump is unexpected and broke stuff.
- Some level of compatibility is required going forward.

[2018-12-23 14:53] mrkn commented on #114
This issue was closed and isn't about versioning topic.
I don't want to continue to talk about versioning here, so I lock this issue.

[2018-12-23 15:33] lembacon opened #118 "`lib/bigdecimal.rb` is missing from `s.files` in the `gemspec`"
Which will yield,

[code]

[2018-12-23 18:58] HitomiTenshi commented on #118
Same issue here

[code]

[2018-12-23 21:40] ioquatix commented on #114
I've created https://bugs.ruby-lang.org/issues/15456 for further discussion. I invite everyone to get involved.

[2018-12-23 23:22] jsatk opened #119 "Can't install/update on macOS 10.14.2 using rbenv & ruby 2.5.3"
[code]

I've completely uninstalled and re-installed rbenv & ruby 2.5.3. Any ideas why this is still failing?

[2018-12-24 05:08] vtamara commented on #118
Same problem

[2018-12-24 05:15] Lupeipei commented on #118
same problem.
#### version:
ruby 2.4.1
rails 5.2.1

#### error

make: *** No rule to make target `../../lib/bigdecimal.rb', needed by
`Makefile'.  Stop

[2018-12-24 06:08] binford2k commented on #119
Duplicate of #118, fixed by #120

[2018-12-24 12:22] Sega100500 opened #121 "Gem bigdecimal-1.4.0 install error"
Linux Debian 8
Apache 2.4
Ruby 2.5.3, 2.3.8

During an installation bigdecimal-1.4.0 running by 'gem update' is occurred error:

[code]

[2018-12-24 13:48] stomar commented on #121
Duplicate of #118, #119. Fixed by #120.

[2018-12-25 01:03] #118 closed

[2018-12-25 01:14] mrkn commented on #119
I'm sorry for the inconvenience with my wrong packaging.
I've released the version 1.4.1 with #120.
Please retry with the new version.

[2018-12-25 01:14] #119 closed

[2018-12-25 01:14] mrkn commented on #121
I'm sorry for the inconvenience with my wrong packaging.
I've released the version 1.4.1 with #120.
Please retry with the new version.

[2018-12-25 01:14] #121 closed

[2018-12-25 10:21] tajmone opened #122 "Error Updating Under Win 10 x64"
(hopefully not a duplicate #118 and #119, since this is make-related error)

    ruby 2.5.3p105 (2018-10-18 revision 65156) [x64-mingw32]

When I try to update the gem under Win 10 x64 I get this error:

[code]

[2018-12-25 11:46] mrkn commented on #122
This is not a duplicate of #118 and #119.
Please tell me how to make reproducible environment.

[2018-12-26 01:41] #122 closed

[2018-12-26 02:16] mrkn commented on #122
@tajmone Please use version 1.4.2.

[2018-12-27 02:38] jsatk commented on #119
All good @mrkn. It happens. Thanks for fixing.

[2018-12-28 13:57] jonekdahl opened #126 "Calling new on subclass of BigDecimal returns BigDecimal instance in Ruby 2.6"
Hi,

I am running some tests with the newly released Ruby 2.6 and there seems to be a difference in behavior when subclassing BigDecimal. I no longer get an instance of the subclass back when calling `<Subclass>.new`, instead I get an instance of BigDecimal:

[code]

Is this change in behavior intended? Assuming it is, are there other ways to create a subclass of BigDecimal?

I realize that `BigDe

[2018-12-29 04:49] mrkn commented on #126
@jonekdahl The easiest way is sticking bigdecimal version to "1.3.5".  I recommend this way if you want to resolve this issue asap.  Please write the following `gem` method call in your script or Gemfile:

[code]

I will provide the way to create instances of the subclass of `BigDecimal` in the version 1.4.3.  Please use it after shipping.

The next version of bigdecimal (it is 2.0.0) does not pro

[2018-12-29 13:50] Hellfire01 opened #127 "active support cannot load bigdecimal - gets an undefined symbol error"
### Steps to reproduce
Installed Ruby on an archlinux / manjaro environment ( up to date ) in a virtual machine
Installed the rails gem with a `gem install rails`
Tried a `require 'rails'` in both irb and a file

### Expected behavior
No issues loading the gem

### Actual behavior
The gem cannot be loaded. There seems to be an issue when trying to load the bigdecimal gem.
I have no issue when tryi

[2019-01-01 12:32] mrkn commented on #127
I couldn't reproduce the problem you were encountered:

[code]

Could you investigate the cause of the problem on your environment?
If you don't have enough time for the investigation, please use bigdecimal 1.3.5 instead of 1.4.2.

[2019-01-01 13:46] mrkn commented on #127
@Hellfire01 How can I get the same environment of this?

[2019-01-01 14:06] mrkn commented on #127
@Hellfire01 I found that the problem also occurs on Ubuntu bionic.

The way to avoid this problem is explicitly specifying the version of bigdecimal by `gem` method like:

[code]

The cause is `require 'bigdecimal'` loads bigdecimal.so of the default-gem version rather than of the gem-installed version.

I currently don't have the way to fix this correctly.

[2019-01-01 14:56] mrkn commented on #127
@Hellfire01 I found that the cause is the behavior of `require` method on Ruby 2.5.3.

On Ruby 2.6 or 2.4.5, after installing bigdecimal 1.4.2, `require 'bigdecimal'` loads bigdecimal.so of the gem-installed version.  However, in contrast, it loads bigdecimal.so of the default gem (the bundled version) on Ruby 2.5.3.

On Ruby 2.6.0:

[code]

On Ruby 2.5.3:

[code]

On Ruby 2.4.5:

[code]

[2019-01-02 09:17] jonekdahl commented on #126
Where can I read more about this change?

[2019-01-02 10:44] Hellfire01 commented on #127
Will give you the output I have on all of the instructions you used as soon as I can have access to my computer.
To have the same environment, I could give you the virtual image of the VM I am using if you wish, you should have the same issue.
The environment is a new manjaro / archlinux one, it has nothing installed on it ( or at least, no program that would tamper with the environment that I wou

[2019-01-02 12:32] mrkn commented on #127
@Hellfire01 Would you please examine the following step on your environment?

1. Assume bigdecimal 1.4.2 is installed on Ruby 2.5.3 (it should already be satisfied)
2. Execute `irb`
3. Evaluate `require "bigdecimal"`
4. Evaluate `$LOADED_FEATURES.grep(/bigdecimal/)`
5. Report the last result here

[2019-01-02 13:34] Hellfire01 commented on #127
will do

[2019-01-03 05:36] mrkn commented on #127
I reported the problem of `require` method in Ruby 2.5 on CRuby's Redmine.
See https://bugs.ruby-lang.org/issues/15500

[2019-01-03 17:31] Hellfire01 commented on #127
So, when I go a `gem list` I get `bigdecimal (1.4.2, default: 1.3.4)`
`ruby --version` outputs `ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]`
And finaly, when I use irb and use the given instructions, I get :

[2019-01-04 07:30] mrkn commented on #127
@Hellfire01 Thank you for your investigation.
The result means your issue is due to the behavior of the `require` method in Ruby 2.5.

The easiest way to avoid this is specifying bigdecimal's version by `gem` method in your script or Gemfile.

[2019-01-04 13:43] Hellfire01 commented on #127
thanks but I am unsure I can do that easily as the issue appears when I require rails or kimura with use the gem through active support. Not sure iff changing the gem files of the gems I use is a good idea.
Started using other gems in the mean time as I do not need them directly. If there is a big issue, I will very simply roll back on Ruby 2.4. Thank you for pointing that that version works

[2019-01-06 15:42] mrkn commented on #127
@Hellfire01 Sorry for the inconvenience.  I have no way to resolve this issue in bigdecimal.

By the way, I couldn't understand the reason why you cannot put `gem "bigdecimal", "1.4.2"` line in Gemfile.  You don't need to modify any gem libraries.  If you encountered this issue in your Rails application, you only need to modify Gemfile of your Rails application.

[2019-01-06 19:50] Hellfire01 commented on #127
oh ok, thanks for the tip I will try that.
I usually only tend to do a require without a gemfile and thought that it was the gem that imposed the version of it's dependencies.

[2019-01-09 15:11] mrkn commented on #126
@jonekdahl I've released version 1.4.3.pre.20190110 including subclassing support.
You can install this new version by the command `gem install bigdecimal --pre`.
Would you examine this version?

[2019-01-10 10:50] jonekdahl commented on #126
@mrkn Thank you. I have tested the prerelease version and it works for me.

[2019-01-10 18:41] mrkn commented on #126
@jonekdahl Thank you for checking the pre-release version.  Finally, I've released 1.4.3.

[2019-01-10 18:41] #126 closed

[2019-01-11 14:43] tajmone opened #129 "Win 10, Can't Update: MSYS2 Required"
After updating Ruby to v2.6:

    ruby 2.6.0p0 (2018-12-25 revision 66547) [x64-mingw32]

Current gem status:

[code]

Failure to update digdecimal gem on Win 10 x64 due to MSYS2 not on the system:

[code]

[2019-01-11 15:01] tajmone commented on #129
I realized that this is an issue relate to the new Ruby Install changes:

https://github.com/oneclick/rubyinstaller2/wiki/FAQ#user-content-choco-install

Seems that I'll have to install MSYS2 one way or the other. What got me stuck here is that there are 3 options to the `ridk install` command mentioned in the `gem update` error, but couldn't work out which ones to go for.

Anyhow, I thought worth

[2019-01-11 15:52] tajmone commented on #129
Since I brought up the issue I might as well post the solution to the problem...

Assuming you have installed [Ruby via Chocolatey], just install also the [MSYS2 Chocolatey] package. Once it's done, open the CMD:

[code]

It's as simple as that (except that maybe you didn't want to install MSYS2 in the first place, but with the newer Ruby installer that's the way it so, tuff luck).

[Ruby via Choc

[2019-01-12 13:18] mrkn commented on #129
@tajmone I'm sorry, I couldn't understand what should I do for this issue because I don't have enough knowledge of Windows environment.  Would you please describe it?

[2019-01-13 02:51] mrkn commented on #129
@tajmone Thank you for the explanation.
I'll write about `ridk install 2 3` command in README.  Is it enough for Windows users?

[2019-01-13 03:01] kou commented on #129
It's needed only for Windows users who install Ruby by Chokolatey. Windows users who install Ruby by RubyInstaller for Windows directly don't need to anything. Because https://rubyinstaller.org/downloads/ recommends that normal users install Ruby with devkit.

I have no data but I think that direct RubyInstaller users are majority.

I think that putting a link to https://chocolatey.org/packages/ms

[2019-01-13 08:41] tajmone commented on #129
Thanks for the clarification @kou, this point wasn't clear to me although I spent over an hour jumping from the various docs of Ruby Installer and the Chocolatey package.

This whole situation made me unsure about potential MSYS2 issues and wether installing it manually, via Choco, using `ridk`, etc., could create duplicates or introduce conflicts.

I have no clue either, by the Ruby Chocolatey pa

[2019-01-18 02:09] mrkn commented on #127
@Hellfire01 I found the reason why 2.5's require is broken.  This is it: https://bugs.ruby-lang.org/issues/15545

The next minor release of 2.5 may include the fix.

[2019-01-18 06:39] mrkn commented on #127
@Hellfire01 Sorry, the previous comment is wrong.  I believed that I found the cause of the bug, but I noticed that it is incorrect.  The investigation is continued by the ruby core team.

[2019-01-19 00:51] Hellfire01 commented on #127
thanks for the notification ^^

[2019-02-14 01:46] vihai commented on #127
This is becoming a major issue to me because a mere "gem update" will break any system with ruby 2.5.
Isn't there a way to prevent installing bigdecimal-1.4.3 on systems with incompatible ruby?

[2019-02-14 04:14] mrkn commented on #127
@vihai You can stick a library version by adding the following line in Gemfile of your application:

[code]

[2019-02-14 04:24] mrkn commented on #127
@vihai If you don't use bundler, you can stick a library version by adding `gem "bigdecimal", "1.3.5"` at the top of your script files.

[2019-03-20 01:14] rafaelfranca commented on #127
I'm using 2.5.5 and still having the same problem, was this already fixed?

[2019-03-20 01:22] mrkn commented on #127
@rafaelfranca Could you tell me how to reproduce?

I confirm that the problem has been fixed at 2.5.5:

On 2.5.5:
[code]

On 2.5.3:
[code]

[2019-03-20 01:47] rafaelfranca commented on #127
That is a good question 😅.

I'm using a ubuntu trusty image with a custom built ruby 2.5.5, totally based on the v2_5_5 tag. I'm not sure if I need to build ruby in a special way to avoid this issue or if this issue only happens because I'm using ubuntu trusty.

But by installing `bigdecimal` 1.4.3 and requiring `bigdecimal/util` on that setup I can reproduce that error.

[2019-03-25 07:08] mrkn commented on #127
@rafaelfranca

Could you please tell me the arguments of configure you specified?

As you can see in [this build script](https://github.com/ruby/ruby-docker-images/blob/master/install_ruby.sh),  the ruby in the docker image I used for the previous confirmation is built in normal way.

[2019-03-25 18:47] rafaelfranca commented on #127
./configure --prefix="$(PREFIX)" --without-valgrind debugflags="-g3 -ggdb"` those are the arguments.

[2019-04-18 01:15] ibrahima opened #131 "String#to_d does not return partially parsed results for trailing decimal"
Hi! We've been using Ruby 2.3 for a while and are trying to upgrade to Ruby 2.5. One issue that I'm noticing is that, perhaps because of the fix to #51 (in #55), the behavior of `String#to_d` is different than it used to be when the string starts with a number but is not a complete number. The behavior is now inconsistent with the behavior of `String#to_f`

I.e.

[code]
The documentation still say

[2019-04-18 02:41] ibrahima commented on #131
Ohhh, I didn't read the other issues correctly - this is a dupe of https://github.com/ruby/bigdecimal/issues/63

[2019-04-18 02:53] ibrahima commented on #131
Actually, still confused. I installed BigDecimal v1.4.3 via bundler but in my Rails app, I still am getting the wrong value for `"1.".to_d`

[code]

[2019-04-24 16:43] bhagwandassoni1953 opened #133 "rails db:migrate"
Cannot locate symbol rmpd_str_to_d ...

[2019-04-29 07:40] bhagwandassoni1953 opened #136 "LoadError, rails controller generate"
![Screenshot_20190429-130002](https://user-images.githubusercontent.com/49839115/56882054-04c6b400-6a80-11e9-8c10-e2fab4177bfa.png)

[2019-04-29 09:04] bhagwandassoni1953 commented on #127
Sorry to trouble you, for the same thing I'm getting [].

[2019-04-29 09:07] bhagwandassoni1953 commented on #127
[].

[2019-05-02 08:19] Hellfire01 commented on #127
I had to update Ruby in order to avoid having the issues ( using 2.6.3 currently, it has no issues with bigdecimal or rails ) and therefor I don't have the issues or the previous environment anymore.
I don't know if I can o something to help now sorry

[2019-05-03 10:19] tan-wei opened #137 "Feel confusion about LoadError when require 'bigdecimal/util'"
OS: Windows 10
Ruby: 2.5.0 x64 with MSYS2
bigdecimal: 1.4.3

When `bigdecimal` is loaded before `bigdecimal/util`:
[code]
It will raise LoadError:
[code]
However, `bigdecimal/util` is loaded before `bigdecimal` will suceess:
[code]

So why does this happen? It will make library `monetize` or `money` raising `LoadError`, because in their source codes, `bigdecimal` is loaded before `bigdecimal/util`

[2019-05-03 20:33] kou commented on #137
Could you try again with the latest Ruby?

[2019-05-04 09:53] tan-wei commented on #137
Fixed after I install Ruby 2.6.3-x64. Thanks!

[2019-05-04 09:53] #137 closed

[2019-05-05 06:07] mrkn commented on #136
@bhagwandassoni1953 What the version of ruby do you use?

[2019-05-08 07:47] #133 closed

[2019-05-08 07:49] mrkn opened #139 "Release 1.4.4"
- [x] Backport #138
- [x] #146
- Check gem install on Linux
  - [x] Ruby 2.3
  - [x] Ruby 2.4
  - [x] Ruby 2.5
  - [x] Ruby 2.6
- Check gem install on macOS
  - [x] Ruby 2.3
  - [x] Ruby 2.4
  - [x] Ruby 2.5
  - [x] Ruby 2.6
- Check gem install on Windows
  - [x] Ruby 2.3
  - [x] Ruby 2.4
  - [x] Ruby 2.5
  - [x] Ruby 2.6
- [x] Release 1.4.4

[2019-05-09 07:47] mrkn opened #141 "../bigdecimal.so: cannot open shared object file"
[code]

[2019-05-09 14:46] kitebuggy opened #143 "Inconsistent conversion/treatment of nil"
Nil is treated differently for two similar functions:
- BigDecimal(nil) #=> TypeError (can't convert nil into BigDecimal)
- nil.to_d #=> 0.0

This is probably as a result of the PR submitted for this [closed issue #100 ](https://github.com/ruby/bigdecimal/issues/100).

Not sure which of the two would be best, as there are benefits in both approaches, but a consistent approach may be desirable here

[2019-05-10 00:11] mrkn commented on #143
I don't think those two are inconsistent. They just follow the behaviors of`Float(nil)` and `nil.to_f`.

[code]

If you want to discuss such conversion methods of Numeric classes, please go to bugs.ruby-lang.org.

[2019-05-10 00:11] #143 closed

[2019-05-10 00:11] #141 closed

[2019-05-10 00:43] mrkn opened #144 "bigdecimal.bundle cannot be linked to util.bundle on macOS"
[code]

[2019-05-13 01:58] #139 closed

[2019-05-13 01:59] mrkn commented on #144
This was resolved by 1.4.4.

[2019-05-13 01:59] #144 closed

[2019-05-13 02:00] mrkn commented on #136
@bhagwandassoni1953 The new version of bigdecimal, 1.4.4, doesn't have this issue.  Try with the new version again.

[2019-05-13 02:02] mrkn commented on #131
This was resolved by 1.4.4.

[2019-05-13 02:02] #131 closed

[2019-05-13 02:03] mrkn commented on #127
I've released the new version 1.4.4.
Please try with this version again.

[2019-05-16 21:15] rafaelfranca commented on #127
I'm now getting `NoMethodError: undefined method `interpret_loosely' for BigDecimal:Class`. The reasons is that maybe the C extension was cached by bundler and didn't compile again, but I'm posting here to see if anyone else got that.

[2019-06-28 12:01] eregon opened #147 "BigDecimal can be changed with initialize_copy, even though it's frozen"
[code]

Probably `BigDecimal#initialize_copy` should raise, much like:
[code]

[2019-07-17 02:58] mrkn commented on #147
@eregon Good catch!

[2019-10-08 21:28] eregon commented on #147
@jeremyevans this is quite similar to your recent fix in https://github.com/ruby/bigdecimal/pull/150
Maybe you'd like to make a PR?

[2019-10-09 00:16] #147 closed

[2019-10-09 02:13] #111 closed

[2019-11-06 18:30] nathan-appere opened #158 "::BigDecimal()"
With the deprecation of `::BigDecimal.new(1)`, is there a way to reference the top level scope explicitly ?
`::BigDecimal(1)` will fail and this can introduce collisions if there are other BigDecimal classes.

[2019-11-12 21:29] tahanson opened #159 "BigDecimal#to_s is returning an `ASCII-8BIT` encoded string"
For other `Numeric` types in Ruby, `#to_s` returns an `US-ASCII` encoded string. Not sure if there is a reason for using the `ASCII-8BIT` for BigDecimal but it seems like it should follow the same pattern.

I noticed this issue in Ruby 2.6.5 when running code similar to:
[code]
This throws an `Encoding::CompatibilityError (incompatible character encodings: ASCII-8BIT and UTF-8)` error.

Integer wo

[2019-12-23 01:59] mrkn commented on #158
Does `Kernel.BigDecimal(1)` work for your use case?

[2019-12-23 02:01] mrkn commented on #159
It isn't intentional behavior that `BigDecimal#to_s` returns ASCII-8BIT strings.
I'll fix it.

Thank you for your report.

[2019-12-23 02:14] mrkn opened #161 "Releasing new version"
I'll release new version of bigdecimal after merging #160.
The next version will be 2.0.0.
@naruse Do you think?

[2019-12-23 02:14] mrkn opened #162 "Migrate CI to GitHub Actions"

[2019-12-23 05:54] #159 closed

[2019-12-26 08:21] #161 closed

[2019-12-26 08:22] #136 closed

[2019-12-26 08:23] #127 closed

[2020-02-20 01:18] pnomolos opened #164 "BigDecimal#round behaviour is inconsistent and/or documentation is incorrect"
The docs for `round` specify:

However, this is inconsistent with what is actually happening:

[code]

It would appear the issue lies here: https://github.com/ruby/bigdecimal/blob/master/ext/bigdecimal/bigdecimal.c#L1846

and it seems that `truncate` has the same behaviour (I haven't checked any other methods yet).

Generally this wouldn't matter (I reproduced it because I'm porting a 10+ year-old

[2020-02-21 22:05] manueljacob opened #165 "Clarify how the initial value is converted down to the given number of significant digits in Kernel.BigDecimal"
The `digits` parameter of Kernel#BigDecimal is documented like this:

However, it’s not specified how the initial value is converted down to the given number of significant digits in Kernel.BigDecimal. It seems like the value is rounded (instead of truncated, floored or ceiled), but it’s not clear from the documentation.

[2020-04-03 06:58] chai2 commented on #127
gem 'bigdecimal', '1.4.2' fixed the issue for me on Ruby 2.7.0

[2020-04-08 00:31] ablomberg commented on #127
In the hopes that it helps someone: After trying everything, after verifying that it was already in my gem list, I just went ahead and experimentally ran `gem install bigdecimal` for giggles. That solved my problem and I can brew again fine now.

[2020-05-10 08:52] Firooz-Bright commented on #127
Clear the gem file.lock by: removing all gems and redo bundle install solved the issue for me.

[2020-07-05 11:42] eregon commented on #159
As a note, the MRI tracker issue for this is https://bugs.ruby-lang.org/issues/17011

[2020-07-06 12:55] nobu commented on #129
Does this happen still?

This isn’t a problem of bigdecimal, but rather a problem of RubyInstaller and/or Chocolatey, which affects other extension library gems.  Should be discussed there.

[2020-07-06 22:10] tajmone commented on #129
Never happened again after I filed this issue.

[2020-08-08 16:02] Blake-LeBlanc opened #167 "Why this gem vs Ruby's own BigDecimal class?"
Hello!

I just started incorporating BigDecimal into an app and I came across this gem.

My apologies if this is a stupid question (I couldn't find it in the readme), but why use this gem over Ruby's own built-in BigDecimal class?

https://docs.ruby-lang.org/en/2.7.0/BigDecimal.html

Again, I'm not trying to be rude or anything, just trying to understand the differences/advantages and decide which

[2020-08-27 17:29] headius opened #169 "Allow installation on JRuby"
JRuby has its own bigdecimal library based on the JDK's built-in BigDecimal. We also do not support C extensions, which means this gem can't be installed at all on JRuby.

This leads to issues when users add bigdecimal gem to their applications and try to migrate to JRuby. This will become more of a problem if downstream libraries also start adding bigdecimal, since there's no way to swap in our i

[2020-09-11 23:15] jeremyevans commented on #167
This is the same gem as is included in Ruby's standard library.  It's one of the default gems.

[2020-09-11 23:15] #167 closed

[2020-09-11 23:17] jeremyevans commented on #164
Matz decided that round with no argument or with an argument less than 1 should return integer (https://bugs.ruby-lang.org/issues/12780#note-9).  I've submitted #170 to implement this decision.

[2020-09-13 05:25] pnomolos commented on #164
@jeremyevans Thanks for that.

[2020-09-13 05:25] #164 closed

[2020-10-19 10:41] jodosha commented on #169
👍

[2020-12-15 06:22] #162 closed

[2020-12-15 06:23] #158 closed

[2021-01-06 17:04] casperisfine commented on #164
@jeremyevans there might be another issue though:

[code]

2.7.2 returns:
[code]

Which is questionable, but not totally wrong.

3.0.0 returns:
[code]

Which I just can't make sense of.

[2021-01-06 17:06] casperisfine commented on #164
Argh, scratch that, I must be tired, `0.1e3 == 100.0`, so it does make sense.

[2021-01-07 14:08] casperisfine commented on #70
So I don't have enough context to know wether this was expected or not, but this precision change in `Float#to_d` did cause a lot of issues for us, for instance:

2.7:
[code]

3.0:
[code]

So this break a lot of tests for us.

[2021-01-07 14:38] mrkn commented on #70
What kind of tests?

[2021-01-07 15:17] casperisfine commented on #70
Various unit tests in our app, like. tax calculation tests etc. e.g.:

[code]

[2021-01-08 02:12] mrkn commented on #70
Could you please use bigdecimal 2.0.2 until this issue will be fixed?

[2021-01-08 08:31] casperisfine commented on #70
Well, for now I use a monkey patch to restore the old behavior.

[2021-01-08 09:24] mrkn commented on #70
The reason why this change is introduced is there are float numbers that require `Float::DIG + 1` digits to keep the value.  `Math::PI` is one of such the numbers:

[code]

We need to change the rule of the conversion from Float to BigDecimal to fix your problem.
I need more time for consideration and experiments.

[2021-01-08 10:41] casperisfine commented on #70
Thank you for considering the issue.

[2021-01-13 02:36] #70 closed

[2021-01-13 02:37] mrkn commented on #70
@casperisfine Could you check the latest master branch?

[2021-01-13 09:28] casperisfine commented on #70
Looks like the gem doesn't work properly when used as a git repo:

[code]

I'll see if I can fix this.

[2021-01-13 18:42] ryanseys opened #181 "BigDecimal.nonzero? does not return a boolean"
Considering the method ends in a `?` I would assume that by Ruby conventions this should return a Boolean, however it doesn't.

[code]

In comparison with `zero?`:

[code]

If this seems like a reasonable change to have `nonzero?` return a boolean instead, I can go ahead and update this code and send a PR :)

[2021-01-13 23:54] ghiculescu commented on #70
https://github.com/ruby/bigdecimal/pull/180 is causing Rails tests to fail against ruby-head (see https://github.com/rails/rails/pull/41115 - [this test](https://github.com/rails/rails/blob/master/activerecord/test/cases/validations/numericality_validation_test.rb#L84..L93) is now failing)

It's debatable if this is a fix or a regression. What do you think @mrkn ?

If you think it's correct now, I

[2021-01-14 00:30] mrkn opened #182 "Warning on SPARC Solaris"
[code]

The compiler is sunc.

[2021-01-14 00:32] mrkn commented on #181
This is the intuitively designed specification of `Numeric#nonzero?`.
See https://docs.ruby-lang.org/en/3.0.0/Numeric.html#method-i-nonzero-3F

[2021-01-14 00:32] #181 closed

[2021-01-14 00:42] mrkn commented on #70
@ghiculescu Good catch.  Probably I need to handle the rounding mode in that case. Could you please make a new issue?

[2021-01-14 00:44] mrkn commented on #70
@casperisfine Oops.  I'll take it and check gem installability in CI workflows.

[2021-01-14 00:47] mrkn commented on #70
@casperisfine I've already checked gem installability on CI workflows at [this line](https://github.com/ruby/bigdecimal/blob/master/.github/workflows/ci.yml#L55).
Could you please how to reproduce the problem?

[2021-01-14 00:47] ghiculescu commented on #70
I actually think the new behavior is correct, since it now matches `Float#round`:

[code]

So `123.455.round(2) == 123.455.to_d(5)` is now true, where it used to be false.

Given that do you still want me to add an issue?

[2021-01-14 01:09] mrkn commented on #70
@ghiculescu `to_d` is not the same as just `round`, but as `round` with `half: :even` parameter because `dtoa` uses banker's rounding.

[code]

A new issue is not necessary because it is not related to rails.
Could you please rewrite rails's tests?
When you rewrite the tests, please specify `half_even` rounding explicitly like below?

[code]

[2021-01-14 01:13] ghiculescu commented on #70
Okay, thanks for the explanation. I'm updating the test in Rails here https://github.com/rails/rails/pull/41115

[2021-01-14 01:44] ghiculescu commented on #70
@mrkn sorry if I'm confused, but something doesn't seem right.

On ruby-head, `123.455.to_d` always returns 0.12346e3 no matter what rounding mode I use:

[code]

This is a change from ruby 3, where `:down`, `:half_even`, and `:half_up` return 0.12345e3, and only `:up` returns 0.12346e3:

[code]

Which behavior is correct?

[2021-01-14 01:49] mrkn commented on #70
@ghiculescu Currently `to_d` always performs half-even rounding.  I think it is a bug of `to_d` (and also of `Kernel.BigDecimal`).  Please use only `half_even` rounding in rails's test.

[2021-01-14 01:51] mrkn commented on #70
@ghiculescu Should Rails's test check the behaviors that vary depending on BigDecimal's rounding mode?

[2021-01-14 01:53] ghiculescu commented on #70
Okay, so the behavior of `:half_even` has changed - this means the Rails test will need to have different assertions based on the ruby version, correct?

[2021-01-14 01:58] mrkn commented on #70
@ghiculescu Yes if Rails' test uses the default version of bigdecimal for each version of Ruby.

[2021-01-14 02:10] ghiculescu commented on #70
@mrkn thanks for all your help! I will do that.

Last question: do we need to update https://github.com/ruby/ruby/blob/master/ext/bigdecimal/bigdecimal.gemspec#L3 to match https://github.com/ruby/bigdecimal/blob/master/bigdecimal.gemspec#L3 ?

Currently, if I pull ruby-head, `BigDecimal::VERSION` is 3.0.0 (while `RUBY_VERSION` is 3.1.0). So I have no way of checking based on `BigDecimal::VERSION`

[2021-01-14 03:00] ryanseys commented on #181
Thanks for the context! I leave even more confused than when I started 😄

[2021-01-14 09:29] casperisfine commented on #70
@mrkn this way:

[code]

[code]

[2021-01-14 21:39] #94 closed

[2021-02-03 17:19] egiurleo opened #185 "Rounding behavior changes between Ruby 2.7.2 and Ruby 3.0"
Hello! I am trying to upgrade my application to Ruby 3.0, and some of my tests are failing due to a change in behavior in the `BigDecimal#round` method between Ruby 2.7 and Ruby 3.0. Numbers that were previously rounded down are consistently rounded up in Ruby 3.0.

Here's an example of the change I'm experiencing:

[code]

[code]

I'd love more context on this change -- was it intentional? And if

[2021-02-24 07:40] unrooty commented on #185
@egiurleo did you figured out how to solve this?

[2021-03-10 22:40] jeremyevans opened #187 "Adjust modulus/remainder calculation for infinity arguments"
[code]

See https://bugs.ruby-lang.org/issues/6120

I've submitted a pull request to ruby to fix the issue with Integer/Float, but bigdecimal should be handled separately.

[2021-03-27 20:47] synth opened #188 "More clarity on version selection"
Thank you for the version selection chart. However, I'm finding it confusing for our case where we are upgrading to Ruby2.7.x and Rails 6.0.x (a common and modern stack)

Today, the version selection chart looks like:

version | characteristics | Supported ruby version range
-- | -- | --
3.0.0 | You can use BigDecimal with Ractor on Ruby 3.0 | 2.5 ..
2.0.x | You cannot use BigDecimal.new and do su

[2021-03-28 17:37] KM8Oz opened #189 "undefined method `new' for BigDecimal:Class"
root@# rubyrep scan -c sync.conf
Exception caught: undefined method `new' for BigDecimal:Class

[2021-04-12 12:15] paracycle commented on #185
Running a bisect points to this commit as the source of the change: https://github.com/ruby/bigdecimal/commit/aa536cd4b585ff6045cf91f396bc3eef993b91f2 which points to #70 as the issue it is fixing. There is a long thread of conversation on that issue about the change in behaviour introduced by that commit. You might want to chime in on the thread there.

[2021-04-27 21:09] clinejj commented on #185
I'm seeing a similar problem with Ruby 3.0.1:

[code]

[code]

This can be resolved by manually passing in the precision that was specified before https://github.com/ruby/bigdecimal/commit/aa536cd4b585ff6045cf91f396bc3eef993b91f2 as @paracycle mentions:

[code]

This is also breaking some tests that we had and is a pretty unexpected change for the default behavior.

[2021-05-03 06:32] kamipo opened #192 "Weird behavior `1_000_000_000.12345.to_d` in bigdecimal 3.0.1"
I've found weird behavior in bigdecimal 3.0.1 when I was testing https://github.com/rails/rails/pull/42125.

### Expected behavior

[code]

### Actual behavior

[code]

|                          | 2.0.2                | 3.0.0                | 3.0.1                |
|:-------------------------|:--------------------:|:--------------------:|:--------------------:|
| 1_000_000_000.12345.to_d | 0.1000

[2021-05-03 07:02] mrkn commented on #192
Thank you for the report.  I couldn't remember the bugs including this are remaining in the master branch before releasing 3.0.1. 🤦

[2021-05-05 19:29] mikeyduece commented on #185
I'm also encountering an issue when changing from 1.3.5 to 3.0.2 for bigdecimal version.
[code]

Im having a hard time trying to find the change that would cause this change

[2021-05-06 12:22] kamipo commented on #185
Is this behavior considered a bug (actually it will be fixed by #180) like #192 is tagged as a bug?

In other words, should we test the `to_d` behavior change in third party libraries as an intentional behavior change in bigdecimal?

[2021-05-17 12:08] KM8Oz commented on #189
ok thanks. i will try after and see. its just i'm not familiar with Ruby.

[2021-06-14 13:20] soberstadt commented on #185
I would consider this a bug as it breaks existing behavior. What would be required to flag this issue as a bug?

[2021-06-24 10:29] colinbruce opened #194 "Conversion issues"
We have noticed another peculiar behaviour in decimal conversions... feel free to close if this should be referenced in an ongoing PR/issue.

Config `ruby 2.7.1p83`

### Expected behavior
`'98.6'.to_d.eql?(0.986e2) => true`

### Actual behaviour

`'98.6'.to_d.eql?(0.986e2) => false`

### Fuller description
Steps to reproduce

[code]

This has been spotted during a test suite that generated a rando

[2021-06-24 11:12] colinbruce commented on #194
Some more detail, this is in a rails app but the step above reduces it to the base level, in fact we have test block like this

[code]

| When new_value equals | New test | Old test |
| --- | --- | --- |
| 83.6 | passes | fails |
| 83.7 | passes | passes |
| 98.5 | passes | passes |
| 98.6 | passes | fails |
| 98.7 | passes | passes |
| 103.6 | passes | passes |

So we have a fix for now, but woul

[2021-08-20 05:37] arthurwozniak commented on #185
Hi, any other suggestions with this? We ended up with patching Float class to act as it used to.

[2021-09-21 06:07] #189 closed

[2021-09-21 06:13] mrkn commented on #188
@synth Very sorry too late response.

When you are using ruby 2.7.x, you can use bigdecimal 3.x or 2.0.x.

The reason why you want to use bigdecimal 1.3.5 is `BigDecimal.new`?
If so, does it works that you define `BigDecimal.new` method like below as your own?

[code]

[2021-09-21 06:50] olleolleolle commented on #189
@KM8Oz rubyrep was last updated in 2017, and the Ruby version which was current then had a different API for BigDecimal (which is a part of the Ruby standard library). To use rubyrep, you may need an older Ruby version. Example of a release in 2017: https://www.ruby-lang.org/en/news/2017/12/25/ruby-2-5-0-released/

[2021-10-27 11:57] ybiquitous opened #197 "Native extension build error when `bundle install` master version"
## Summary

I find the following build error when running `bundle install` for the GitHub `master` version (bdf2364).

[code]

It seems `gemspec_path` does not include `bigdecimal_version`:

https://github.com/ruby/bigdecimal/blob/bdf2364a364db6c46b86bf00c4aab715b50d8fb8/ext/bigdecimal/extconf.rb#L7-L9

## Reproduction

[code]

## Environment

- Ruby: `ruby 3.0.2p107 (2021-07-07 revision 0db68f023

[2021-11-01 05:16] mrkn commented on #197
The master version is not for usual use.  Why do you need the master version?

[2021-11-01 05:27] ybiquitous commented on #197
Ah, thank you for the advice. I'd just like to use the new RDoc for `BigDecimal()`. 😃

### `master`

https://github.com/ruby/bigdecimal/blob/bdf2364a364db6c46b86bf00c4aab715b50d8fb8/ext/bigdecimal/bigdecimal.c#L3081-L3083

### `v3.0.2`

https://github.com/ruby/bigdecimal/blob/186a74f4449dd17b4595d44e092a98206a411a28/ext/bigdecimal/bigdecimal.c#L2836-L2837

[2021-11-01 05:27] #197 closed

[2021-11-01 05:29] mrkn commented on #197
The next version will be released before 25 Dec.  Please wait for the next version.

Thanks.

[2021-11-01 05:31] mrkn opened #198 "Add the new property to obtain the number of digits after the decimal point"
This is needed for `Arrow::DecimalArrayBuilder`.  See [ARROW-14518](https://issues.apache.org/jira/browse/ARROW-14518) for the details.

[2021-11-09 10:53] casperisfine opened #199 "bignum too big to convert into `long' (RangeError)"
On current ruby 3.1:
[code]

On 3.0:

[code]

[2021-11-09 11:05] casperisfine commented on #199
Actually, it seems that the trigger is Ruby 3.1 and not the latest bigdecimal version. I'll try to track this down.

[2021-11-09 11:42] casperisfine commented on #199
Ok, so the problem is in https://github.com/ruby/bigdecimal/commit/4792a917d806ca1059c952f489413073ea51bf01

When dealing with signed integers, comparing `rb_absint_size` to `sizeof long` is no longer correct.

cc @mrkn

[2021-11-12 14:03] mrkn commented on #185
The difference of the result of `98.00000000000001.to_d.round(0, 1)` comes from the change of `Float#to_d` introduced in bigdecimal 2.0.3.

[code]

As you can see in the above, `98.00000000000001.to_d` in bigdecimal 2.0.0 doesn't preserve the precision of the original Float value.  From this buggy behavior, `98.00000000000001.to_d.round(0, 1)` is same as `98.to_d.round(0, 1)` in bigdecimal 2.0.0.

[2021-11-12 14:03] #185 closed

[2021-11-12 14:04] mrkn commented on #199
@casperisfine Thank you for reporting and investigating this!

[2021-11-12 14:23] #199 closed

[2021-11-12 14:36] mrkn commented on #185
@kamipo

`to_d` had a bug previously.  The behavior change in bigdecimal 2.0.3 is not an intentional behavior change, but just a bug fix.

[2021-11-12 14:39] casperisfine commented on #199
Thanks for the merge!

[2021-11-18 01:33] mrkn opened #202 "Bugs when DECDIG == uint16_t"
Some tests fail when `DECDIG` is `uint16_t`.

[code]

[code]

[code]

[code]

[code]

[2021-11-18 02:43] #192 closed

[2021-11-21 16:20] mrkn commented on #194
In old versions of bigdecimal, this behavior is not a bug but is the specification due to the floating-point error.
This behavior has already been changed in the master branch.

[code]

[2021-11-21 16:21] #194 closed

[2021-11-21 16:22] #129 closed

[2021-11-25 05:50] mrkn opened #205 "BUG: BigDecimal#precision returns a wrong result when the number consists of single DECDIG"
[code]

The first and the second cases in the above results are wrong.  The expected results are below.

[code]

[2021-11-25 16:08] #205 closed

[2021-11-27 20:19] BurdetteLamar opened #207 "Method BigDecimal: precision too large. (ArgumentError)"
Doc for method BigDecimal says:

 * ArgumentError:: If +initial+ is a Float, and the +digits+ is larger than
 *                 Float::DIG + 1, this exception is raised.

Is this true for other methods that have digits/ndigits?

[2021-11-27 20:22] BurdetteLamar opened #208 "Method BigDecimal: 0 digits algorithm"
Doc for method BigDecimal says:

 * When <i>arg</i> is a Float and <i>digits</i> is <code>0</code>, the number
 * of digits is determined by the algorithm of <code>dtoa</code> function
 * written by David M. Gay.  That algorithm is based on "How to Print Floating-
 * Point Numbers Accurately" by Guy L. Steele, Jr. and Jon L. White [Proc. ACM
 * SIGPLAN '90, pp. 112-126].

Is this also true for oth

[2021-11-28 02:07] mrkn commented on #208
Your understanding is correct right now.  But I don't want to mention the detail algorithm how to generate the decimal notation in the documentation because it is not the specification but an implementation detail.

The specification of the method `BigDecimal` is that it generates a decimal notation from a Float so that it can be converted back to the original number and it's number of digits is f

[2021-11-28 14:31] mrkn commented on #207
No.

Do you know why the exception occurs in this condition?

[2021-11-28 21:16] BurdetteLamar commented on #208
I have omitted the passge.  Hope that's what you meant.

[2021-11-28 21:17] BurdetteLamar commented on #207
I do not know.

[2021-12-02 09:53] #198 closed

[2021-12-03 01:38] mrkn opened #212 "Accept a Float value in BigDecimal#div when a precision is given"
See https://bugs.ruby-lang.org/issues/8826

[code]

It is good that the second case works well.

[2021-12-03 01:43] mrkn opened #213 "BigDecimal should accept a Float value without a precision"
[code]

This should works like below.

[code]

~This is necessary to resolve #212~.

[2021-12-03 01:46] mrkn opened #214 "BigDecimal#quo should accept a precision argument"
[code]

This should return a 100-precision BigDecimal instead of an exception.

[2021-12-06 16:10] mrkn commented on #212
[code]

The last case may be the appropriate behavior of `BigDecimal(5).div(5.1, 8)`.

[2021-12-07 00:47] mrkn commented on #212
The remaining problem is that if the precision is larger than `Float::DIG+1`.

[code]

[2021-12-09 12:42] #212 closed

[2021-12-16 06:57] #214 closed

[2022-01-08 16:18] grk opened #220 ""ERROR(VpDivd): space for remainder too small" for certain division"
When upgrading to Ruby 3.1, I noticed a crashing edge-case when dividing by a certain number. It does not happen for bigdecimal < 3.1.1, but its 100% reproducible on 3.1.1.

The reproduction code is simple:

[code]

Happens on both linux and macos.

[code]

Further debug info is I think irrelevant, but I can attach if needed.

[2022-01-19 07:52] #220 closed

[2022-01-19 07:52] mrkn commented on #220
@grk Thank you for reporting this!

[2022-02-10 14:50] technicalpickles commented on #185
If this is considered a bug in a bugfix, would it be reasonable to port the fix back to the 3.0 line, so Ruby 3 can include it? When upgrading from Ruby < 3 to the latest, it's pretty common to jump one version at a time, ie to 3.0 before going to 3.1.

[2022-02-10 15:45] mrkn commented on #185
@technicalpickles BigDecimal is one of the standard libraries, but it is also delivered as a gem library.  You can use the latest version of bigdecimal.gem by specifying the version constraint of bigdecimal in Gemfile even if you use Ruby 3.0.x.  This may be the easiest way, I think.

In another way, you can request to back-port the latest bigdecimal version into the maintenance branch of Ruby 3.0

[2022-02-25 20:31] smidwap opened #222 "Exponential growth in precision causing memory usage to spike as of 3.1.2"
I upgraded to BigDecimal 3.1.2 to pull in the fix to #220, which was causing crashes in our Rails app. However, I believe the fix applied in 127a1b5 created the potential for exponential growth in the number of digits a BigDecimal can have. The result is that certain calculations can eat up all available memory (several gigs) and crash the process.

Take the following as an example, which outputs

[2022-03-06 06:44] mrkn commented on #222
@mrkn Thank you for reporting this issue.  I'll investigate the details.

[2022-03-06 06:44] mrkn commented on #222
@smidwap Thank you for reporting this issue.  I'll investigate the details.

[2022-04-01 13:03] egallup02360 opened #224 "ERROR(VpDivd): space for remainder too small"
Didn't see this error posted here, but I saw it at https://githubmemory.com/index.php/@grk

Noticed this issue in our production app so I figured I'd post the issue here for more visibility.

"ERROR(VpDivd): space for remainder too small" for certain division
When upgrading to Ruby 3.1, I noticed a crashing edge-case when dividing by a certain number. It does not happen for bigdecimal < 3.1.1, but

[2022-04-01 13:10] #224 closed

[2022-04-20 01:07] mrkn opened #226 "BigDecimal#round raises FloatDomainError regardless of exception mode"
`BigDecimal::INFINITY.round` shouldn't cause `FloatDomainError` when `BigDecimal.mode(BigDecimal::EXCEPTION_INFINITY) == 0` but it raises the error.

[code]

[2022-05-24 04:28] gvraams opened #229 "Comparison failure: 9.8.abs <= BigDecimal('9.8') => false"
[code]
Ruby: **ruby 2.1.2p95** (2014-05-08)

[2022-05-24 04:29] gvraams commented on #229
Problem is only with "9.8".
[code]

[2022-06-23 06:49] atitan opened #230 "Inconsistent max precision affecting dump&load result"
We've observed that BigDecimal treats number and string differently on max precision allocation.

Ruby 2.6.6

[code]

Ruby 3.1.2

[code]

The problem is also applied to dump & load, which is troublesome.

Especially when taking serialized result for comparison to check for duplicates or data changes.

Ruby 2.6.6

[code]

Ruby 3.1.2

[code]

[2022-07-28 15:02] mrzasa commented on #229
It's likely related to the precision of converting floats to BigDecimal, see below:
[code]

seems to be related to https://github.com/ruby/bigdecimal/commit/aa536cd4b585ff6045cf91f396bc3eef993b91f2

[2022-07-29 07:51] mrzasa commented on #229
It's fixed in the newest version of the gem:
[code]

[2022-07-29 10:13] gvraams commented on #229
@mrzasa - Thank you for your response and investigation.

[2022-07-29 10:13] #229 closed

[2022-08-05 13:58] mrzasa commented on #226
1. It happens only when precision is 0 (defailt), it works well when we define a non-zero precision:
[code]
2. With precision=0, `#round` converts a decimal to an integer and it's according to the docs

https://ruby-doc.org/stdlib-3.0.3/libdoc/bigdecimal/rdoc/BigDecimal.html#method-i-round

3. For the source-divers, the error is raised here:
https://github.com/ruby/bigdecimal/blob/1cb095003939db9e

[2022-09-25 07:51] #78 closed

[2022-10-03 04:02] mrkn commented on #230
@atitan Thank you for your report.

The numbers `BigDecimal#precs` returns are internal detail so you shouldn't use them.  This method has already been deprecated.  You can see the following deprecation warning with `-w` option.

[code]

As this warning said, BigDecimal provides `BigDecimal#precision` method as of the version 3.0.0.  Use this method instead of `BigDecimal#precs`.

[code]

What is

[2022-10-03 04:03] #230 closed

[2022-10-03 05:53] atitan commented on #230
I think you don't understand the problem.

This is an internal issue of `bigdecimal`, so I use `precs` to describe the issue.

The following code modified from yours for better understanding.

[code]

I have a real world usage that stores `bigdecimal` object into database using `ActiveRecord`'s serialize method. Sometimes I got column changed error when I tried to lock the record, but I've changed

[2022-10-03 06:17] mrkn commented on #230
@atitan

No, it's not an issue.  BigDecimal does not guarantee that a number has always the same internal state.  The numbers that equal each other can have different internal states when they are created by the different ways.  The reason why we don't guarantee the same internal state for equal numbers is to simplify the internal implementation and to avoid needless scanning of digits.

If you st

[2022-10-03 06:44] mrkn commented on #230
@atitan
By the way, the format of `Marshal.dump` may change among the different Ruby versions.  This is the specification of Marshal module (see [the document](https://ruby-doc.org/core-3.1.2/doc/marshal_rdoc.html)).  The format of `BigDecimal#_dump` may also change in the same way.
Moreover, `BigDecimal#_dump` and `BigDecimal#_load` may be replaced with `BigDecimal#marshal_load` and `BigDecimal#m